<footer style="margin-top: 10%;">
    <div class="footer-flex-parent">
        <div class="footer-links-flex-parent">
            <p style="color: white !important;font-size: 25px;">Social Media Links</p>
            <p style="cursor: pointer;">FaceBook</p>
            <p style="cursor: pointer;">Instagram</p>
            <p style="cursor: pointer;">Youtube</p>
            <p style="cursor: pointer;">Twiter</p>
        </div>

        <div class="footer-links-flex-parent">
            <p style="color: white !important;font-size: 25px;">Contact Us</p>
            <p>Email: heli@gmail.com</p>

            <p>Phone : +1(236) 789-45612</p>
            <p></p>

        </div>
    </div>
    <div class="footer-copy-writes">
        <p>&copy; Copyright 2021 Sanskritatva
        </p>
    </div>
</footer>