
<div class="nav-bar-tag">
            <div class="nav-flex-parent">
                <div class="logosection">
                    <a href="#" onclick="w3_open()" id="openNav"><i class="fa fa-bars"></i></a>
                    <a href="./home">
                        <img class="tagicon" src="/images/NewLogo.jpeg" alt="">
                    </a>
                </div>
                <div class="loginsection">
                    <a href="./../../../../../../../../../profile/profileUpdate"><i class="fa fa-user"></i></a>
                    <a href="./login" style="margin-left: 0%;"></a>
                    <a href="../../../../../../../../../Cart/cartdata"><i class="fa fa-shopping-cart"></i></a>

                </div>
            </div>
</div>
    

